<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><img src="/img/logo-2.png" alt=""></h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" id="nav-home" class="nav-item nav-link">Home</a>
            <a href="/About" id="nav-about" class="nav-item nav-link">About</a>
            <a href="/Courses" id="nav-courses" class="nav-item nav-link">Courses</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="/Team" id="nav-team" class="dropdown-item">Our Team</a>
                    <a href="/Testimonial" id="nav-testimonial" class="dropdown-item">Testimonial</a>
                </div>
            </div>
            <a href="/contact" id="nav-contact" class="nav-item nav-link">Contact</a>
            <a href="/contact" id="nav-contact" class="nav-item nav-link btn btn-bc">Login</a>
            <a href="/Authentication" id="nav-contact" class="nav-item nav-link btn btn-bc">SignUp</a>
        </div>

    </div>
</nav>